<!-- Nav tabs -->
<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand"> My Store
      <img src="https://previews.123rf.com/images/alejik/alejik1604/alejik160400153/55853709-stack-of-colored-books-the-logo-of-the-bookstore-the-book-icon-bookstore-or-library-the-book-on.jpg" width="40" height="40" class="d-inline-block align-top" alt=""> 
    </a>
    <button class="bt1">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart-dash-fill" viewBox="0 0 16 16">
        <path d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM6.5 7h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1 0-1z"/>
      </svg>
    </button>
</nav>

