
.navbar {
    background-color: rgb(64, 59, 70);
    padding: 20px;
}

.navbar-name{
    font-family:Arial, Helvetica, sans-serif;
    font-size: larger;
    font-weight: 200;
}

.goToBtn{
    border: 0;
    background-color: rgb(96, 191, 210);
}
